body {
  background-color: #ffffff;
  color: #000080;
  font-style: normal;
}
header {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
}
a:link {
    color: #800080;
}
a:visited {
  color: #ff0000;
}
.left {
  float: left;
  position: relative;
  width: 40%;
}
.right {
  float: right;
  position: relative;
  width: 40%;
}
.descrpt {
  font-size: 10px;
}
.up-case {
  font-size: 36px;
}
.low-case {
  font-size: 12px;
}
.address {
  font-size: 13px;
}
li {
  margin: 30px;
}
.homepage {
  font-size: 15px;
}
.blank {
  white-space: pre-line;
}
.logo-info {
  clear: both;
  font-size: 10px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.leave-comment {
  font-size: 13px;
  border-bottom: 1px solid black;
}
.copyright {
  font-size: 8px;
}
.company-name {
  font-weight: bold;
}

/*

What is important to know when linking an external file (like a stylesheet) to an HTML file?

It's important to when using the href in the link to use the correct path and link it with the rel attribute.

What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
What CSS did you use to modify the element style (like size, color, etc.)

Even now, I am struggling with the my columns being too far appart. To partially fix the issue, I adjusted the witdth of my columns. One thing that helped with positioning of the text was using the <br/> tag to position the descriptions of the <li></li> items. I was a little confused at first because I never <br/> used before with a span. In concerns to the element style, I followed the prompt provided.

Did you modify the HTML to include classes or ids? If so, which did you chose and why? If you didn't, how would you know which one to add to your HTML?

I used classes, which seemed like the most efficient way to apply elements to a section of code, rather than typing each into the HTML. It was also a lot easier to keep everything organized this way.

When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?

I think my partner and I's code is much more compact and easier to follow. Adding style elements through HTML is not best practice, as now it can only be applied to this particular site. Our CSS file can be applied to other sites as well. Our code follows up to date HTML5 semantics, which minimizes time coding, like using column classes instead of a table. Overall it gets confusing navigating through Berkshire's code because they are just huge blocks of HTML, so you have to really sift your way through.

*/